mixin rating

  //-
    - Usage: +rating(value="5" stars="6")
    - Yield: COMPLICATED

  -
    rating = rating || 0
    rating += 1

    var $ = 'rating'
    var value = 0
    var stars = 5
    var readonly = false
    var name = 'rating-' + rating

    if (attributes.value && attributes.value.length)
      value = Math.floor(attributes.value)
      attributes.value = null

    if (attributes.stars && attributes.stars.length)
      stars = Math.floor(attributes.stars)
      attributes.stars = null

    if (attributes.readonly && attributes.readonly.length)
      if (attributes.readonly === 'true' || attributes.readonly === 'readonly')
        readonly = true
      attributes.readonly = null

    if (attributes.name && attributes.name.length)
      name = attributes.name
      attributes.name = null

  span&attributes(attributes)(
    class=$
    class=((readonly) ? $+"--readonly" : "")
    )
    - for (var index = 0; index <= stars; index++)
      input(
        type="radio"
        class="#{$}__input"
        name=name
        id="#{name}-#{index}"
        value=index
        autocomplete="off"
        checked=((value === index) ? true : false)
        )
      | <span class="#{$}__segue">
      if !readonly
        label(
          class="#{$}__label"
          class=((!index) ? "#{$}__label--zero" : "")
          for="#{name}-#{index}"
          )
      else
        span(
          class="#{$}__label #{$}__label--span"
          class=((!index) ? "#{$}__label--zero" : "")
          for="#{name}-#{index}"
          )
    - for (var i = 0; i <= stars; i++)
      | </span>
