if boxUsageIndex
  - var $ = 'box-usage-index'
  div(class="#{$}")
    header.div(class="#{$}__title")
      a.a(href="https://github.com/internets-inc/small-web" target="_blank" class="#{$}__github")
        +icon(name="ion-social-github")
      h1.div Usage
    each group in boxUsageIndex.groups
      dl.div(class="#{$}__group")
        dt.div(class="#{$}__label")=group.label
        each item in group.items
          dd.div(class="#{$}__item")
            p.div(class="#{$}__demo")
              a.a(href="./#{item}/" class="#{$}__link")=item
            p.div(class="#{$}__code")
              a.a(href="./#{item}/index.jade")
                code.code src
