if breadcrumbs && breadcrumbs.items.length
  - var $ = 'breadcrumbs'
  div(class="#{$}")
    ul.div(class="#{$}__items")
      each item, index in breadcrumbs.items
        li.div(class="#{$}__item")
          if item.href
            a(href=item.href class="#{(!index) ? $+'__icon a' : ''}")=item.text
          else
            | #{item.text}
