if boxTestsIndex
  - var $ = 'box-tests-index'
  section(class="#{$}")
    h1.div(class="#{$}__header")
      | Tests
    each group in boxTestsIndex.groups
      dl.div(class="#{$}__group")
        dt.div(class="#{$}__category")=group.label
        each item in group.items
          dd.div(class="#{$}__item")
            p.div(class="#{$}__demo")
              a.a(href="./#{item}/" class="#{$}__link")=item
            p.div(class="#{$}__jade")
              a.a(href="./#{item}/index.jade")
                code.code.u-font-xsmall
                  | Jade
    footer(class="#{$}__footer")
      a.a(href="https://github.com/internets-inc/small-web" target="_blank")
        +icon(name="ion-social-github")
