if breadcrumbs && breadcrumbs.items.length
  - var $ = 'breadcrumbs'
  div(class="#{$}")
    ul.div(class="#{$}__items")
      each item, index in breadcrumbs.items
        if !index && item.href && item.href === '/'
          li.div(class="#{$}__item #{$}__item--icon")
            a(href=item.href class="#{$}__home")=item.text
        else if item.href
          li.div(class="#{$}__item")
            a(href=item.href)=item.text
        else
          li.div(class="#{$}__item")
            | #{item.text}
